
.columns{
    padding: 20px;
}
#container{
    background:#dbe0ff;
    text-align: center;
    width:500px;
    border:20px #f0e3ff;
    padding:50px;
    margin:20px;
}
.container-formulario{
    padding:40px;
}

